<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quicksettingstileplugin">
    <application>
        <service
            android:name=".MyTileService"
            android:label="My Tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
